@model IQI.Intuition.Infrastructure.Services.Reporting.IntegrityService.VarianceDetails

<head>
<style type="text/css">
table.gridtable {
	font-family: verdana,arial,sans-serif;
	font-size:11px;
	color:#333333;
	border-width: 1px;
	border-color: #666666;
	border-collapse: collapse;
}
table.gridtable th {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #666666;
	background-color: #dedede;
}
table.gridtable td {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #666666;
	background-color: #ffffff;
}
</style>
</head>

<div style="color:Blue;">@Model.ReportingEntity.ClassName</div>

@if (Model.ReportingEntity != null)
{
    <table class="gridtable">
        <tr>
        @foreach (var attribute in Model.ReportingEntity.Attributes)
        {
            <td>@attribute.Name</td>
        }
        </tr>
        <tr>
        @foreach (var attribute in Model.ReportingEntity.Attributes)
        {
            <td>@attribute.Value</td>
        }
        </tr>
    </table>
}

@if (Model.DomainEntities != null && Model.DomainEntities.Count() > 0)
{
    <br />
    <table class="gridtable">
        <tr>
        @foreach (var attribute in Model.DomainEntities.First().Attributes)
        {
            <td>@attribute.Name</td>
        }
        </tr>
        @foreach (var entity in Model.DomainEntities)
        {
            <tr>
                @foreach (var attribute in entity.Attributes)
                {
                    <td>@attribute.Value</td>
                }
            </tr>
        }
    </table>
    
}