@model IQI.Intuition.Web.Models.Reporting.Infection.Account.QuarterlyInfectionAverageView

@{
    ViewBag.QuickListAction = "AccountReportQuickList";
    ViewBag.QuickListItem = "Quarterly Infection Averages";
    ViewBag.IsExportable = true;
    ViewBag.ExportLandscape = true;
}

<section class="grid_16 box leading"> 
        <h3>Quarterly Infection Averages</h3>
        <div class="inside">
        @using (Html.BeginForm(null, null, FormMethod.Get))
        {
            <div style="padding:10px;">
            <span>Quarter:</span> @Html.DropDownListFor(m => m.Quarter, Model.QuarterOptions) 
            &nbsp;
            <span>Average Type:</span> @Html.DropDownListFor(m => m.AverageType, Model.AverageTypeOptions) 
            &nbsp;                                           
            @Html.SmartSubmit("Refresh")
            </div>
            <div style="font-size:9px;font-weight:bold;padding-bottom:5px;padding-top:5px;">Include Facilities:</div>
            <div style="font-size:9px;height:50px;overflow:auto;">
                @Html.HorizontalCheckBoxFor(m => m.SelectedFacilities, Model.FacilityOptions)
            </div>
            <div style="clear:both;"></div>
        }
        </div> 
        <div style="font-weight:bold;font-size:12px;text-align:center;padding-top:5px;padding-bottom:5px;">@Model.AdditionalDetails</div>
</section>

<section class="grid_16 box leading"> 
        <h3>HAI/Nosocomial Infections</h3>
        <div class="inside">
        <br />
         <table class="iqitable">
            <tr>
                <th>Month</td>
                <th colspan="2">@Model.Month1.Name</th>
                <th colspan="2">@Model.Month2.Name</th>
                <th colspan="2">@Model.Month3.Name</th>
            </tr>
            <tr>
                <th>Infection</th>
                <th>Group</th>
                <th>Average</th>
                <th>Group</th>
                <th>Average</th>
                <th>Group</th>
                <th>Average</th>
            </tr>
            @foreach (var group in Model.NosocomialInfections.Groups)
            {
            <tr>
                <td>@group.InfectionType.Name</td>
                <td>@group.Month1Total.FacilityRate.ToString("#0.00")</td>
                <td>@group.Month1Total.AverageRate.ToString("#0.00")</td>
                <td>@group.Month2Total.FacilityRate.ToString("#0.00")</td>
                <td>@group.Month2Total.AverageRate.ToString("#0.00")</td>
                <td>@group.Month3Total.FacilityRate.ToString("#0.00")</td>
                <td>@group.Month3Total.AverageRate.ToString("#0.00")</td>
            </tr>
            }
            <tr class="total">
                <td>Total HAI/Nosocomial</td> 
                <td>@Model.NosocomialInfections.Month1Total.FacilityRate.ToString("#0.00")</td>
                <td>@Model.NosocomialInfections.Month1Total.AverageRate.ToString("#0.00")</td>
                <td>@Model.NosocomialInfections.Month2Total.FacilityRate.ToString("#0.00")</td>
                <td>@Model.NosocomialInfections.Month2Total.AverageRate.ToString("#0.00")</td>
                <td>@Model.NosocomialInfections.Month3Total.FacilityRate.ToString("#0.00")</td>
                <td>@Model.NosocomialInfections.Month3Total.AverageRate.ToString("#0.00")</td>
            </tr>
            </table>
        </div> 
</section>

<section class="grid_16 box leading"> 
        <h3>@Model.Month1.Name</h3>
        <div class="inside">
        @Html.DisplayFor(m => m.Month1Chart)
        </div> 
</section>

<section class="grid_16 box leading"> 
        <h3>@Model.Month2.Name</h3>
        <div class="inside">
        @Html.DisplayFor(m => m.Month2Chart)
        </div> 
</section>

<section class="grid_16 box leading"> 
        <h3>@Model.Month3.Name</h3>
        <div class="inside">
        @Html.DisplayFor(m => m.Month3Chart)
        </div> 
</section>


<div class="clear"></div>
