@model IQI.Intuition.Web.Models.PsychotropicDosageChange.PsychotropicDosageChangeFormEdit

@{
    ViewBag.Layout_ContentTitle = "Edit Dosage Change";
}
@using (Html.BeginForm())
{

    @Html.HiddenFor(model => model.Id)

    <br />
    <div class="grid_16" id="buttons">
        @Html.SmartCancel("Cancel", new { @class = "left cancel" })
        @Html.SmartSubmit("Save", new { @class = "right save" })
    <span class="clear"></span>
    </div> 
    
       
    if (ViewContext.HasErrors())
    {
        <section class="grid_16 box">
        <div class="inside form">
        @Html.ValidationSummary()
        </div>
        </section>
    }
    

    <section class="grid_16 box">
        <h3>Dosage Change</h3>
        @if(ViewContext.UserHasPermission(IQI.Intuition.Domain.Enumerations.KnownPermision.RemovePsychotropic))
        {
        <div class="actions">
            @Html.SmartButton(Url.Action("Remove", "PsychotropicDosage", new { id = Model.Id }), "Remove", "Are you sure you want to remove this entry?")
        </div>
        }
        <div class="inside form">
        <div class="grid_6">
        <p>
            <div class="field">@Html.EditorFor(model => model.StartDate)</div>
            <div class="field">@Html.EditorFor(model => model.Frequency)</div>
            <div id="Segments">
                @{Html.RenderPartial("~/Views/PsychotropicDosage/DosageForm.cshtml", Model.GetSegmentForm());}
            </div>
        </p>
        </div>
        <div class="clear"></div>
        <br />
    </section>
    <div class="clear"></div>
}
<div class="clear"></div>


<script type="text/javascript">

    $(document).ready(function () {

        $('#Frequency').change(function () {
            updateSegments();
        });

    });

    var segmentAction = '@Url.Action("DosageForm", "PsychotropicDosage", new {changeId = Model.Id  })';

    function updateSegments() {
        $('#Segments').load(segmentAction + '&prefix=Segments&frequencyId=' + $('#Frequency').val());
    }

</script>