@model IQI.Intuition.Web.Models.Reporting.Infection.Facility.QuarterlyInfectionByFloorView

<section class="grid_8 box leading"> 
        <h3>@Model.Month1.Name</h3>
        <div class="inside">
        @Html.DisplayFor(m => m.Month1Chart, new { width = 550, height = 300 })
        </div> 
</section>

<section class="grid_8 box leading"> 
        <h3>@Model.Month2.Name</h3>
        <div class="inside">
        @Html.DisplayFor(m => m.Month2Chart, new { width = 550, height = 300 })
        </div> 
</section>

<div style="clear:both;">

<section class="grid_8 box"> 
        <h3>@Model.Month3.Name</h3>
        <div class="inside">
        @Html.DisplayFor(m => m.Month3Chart, new { width = 550, height = 300 })
        </div> 
</section>

<section class="grid_8 box"> 
        <h3>Totals</h3>
        <div class="inside">
        @Html.DisplayFor(m => m.TotalChart, new { width = 550, height = 300 })
        </div> 
</section>

<div class="clear"></div>