@model IQI.Intuition.Web.Models.Reporting.Infection.Facility.QuarterlySCAUTIView

@{
    ViewBag.QuickListAction = "FacilityReportQuickList";
    ViewBag.QuickListItem = "Quarterly CAUTI Overview";
    ViewBag.IsExportable = true;
    ViewBag.ExportLandscape = true;
}

<section class="grid_16 box leading"> 
        <h3>Quarterly CAUTI Report</h3>
        <div class="inside">
        @using (Html.BeginForm(null, null, FormMethod.Get))
        {
            <div style="padding:10px;">
            @Html.DropDownListFor(m => m.Quarter,Model.QuarterOptions)                                                 
            @Html.SmartSubmit("Refresh")
            </div>
        }
        </div> 
        <div style="font-weight:bold;font-size:12px;text-align:center;padding-top:5px;padding-bottom:5px;">Data Last Updated: @ViewContext.LastSynchronized() </div>
</section>


<section class="grid_16 box leading"> 
        <h3>CA-UTI</h3>
        <div class="inside">
        <br />
         <table class="iqitable">
            <tr>
                <th>Month</td>
                <th colspan="4">@Model.Month1.Name</th>
                <th colspan="4">@Model.Month2.Name</th>
                <th colspan="4">@Model.Month3.Name</th>
                <th colspan="2">Quarter</th>
            </tr>
            <tr>
                <th>Infection</th>
                <th>#Inf.</th>
                <th>Inf/1000 DD</th>
                <th>Change</th>
                <th>Device Days</th>
                <th>#Inf.</th>
                <th>Inf/1000 DD</th>
                <th>Change</th>
                <th>Device Days</th>
                <th>#Inf.</th>
                <th>Inf/1000 DD</th>
                <th>Change</th>
                <th>Device Days</th>
                <th>Total</th>
                <th>Rate</th>
            </tr>
            @foreach (var group in Model.SCaUtis.Groups)
            {
            <tr>
                <td>Symptomatic</td>
                <td style="font-weight:bold;">@Html.RenderAnnotation(group.Month1Total,group.Month1Total.Count)</td>
                <td>@group.Month1Total.Rate.ToString("#0.00")</td>
                <td>
                    <div style="width:50px;text-align:right;">
                    @group.Month1Total.Change.ToString("#0.00")

                    @if (group.Month1Total.Change > 0)
                    {
                        <img style="float:right;" src="@Url.Content("~/Content/images/up.png")" />
                    }
                    else if(group.Month1Total.Change < 0)
                    {
                        <img style="float:right;" src="@Url.Content("~/Content/images/down.png")" />
                    }
                    else
                    {
                        <img style="float:right;" src="@Url.Content("~/Content/images/nochange.png")" />
                    }
                    </div>
                </td>
                <td>@group.Month1Total.DeviceDays</td>
                <td style="font-weight:bold;">@Html.RenderAnnotation(group.Month2Total,group.Month2Total.Count)</td>
                <td>@group.Month2Total.Rate.ToString("#0.00")</td>
                <td>
                    <div style="width:50px;text-align:right;">
                    @group.Month2Total.Change.ToString("#0.00")

                    @if (group.Month2Total.Change > 0)
                    {
                        <img style="float:right;" src="@Url.Content("~/Content/images/up.png")" />
                    }
                    else if(group.Month2Total.Change < 0)
                    {
                        <img style="float:right;" src="@Url.Content("~/Content/images/down.png")" />
                    }
                    else
                    {
                        <img style="float:right;" src="@Url.Content("~/Content/images/nochange.png")" />
                    }
                    </div>
                </td>
                <td>@group.Month2Total.DeviceDays</td>
                <td style="font-weight:bold;">@Html.RenderAnnotation(group.Month3Total,group.Month3Total.Count)</td>
                <td>@group.Month3Total.Rate.ToString("#0.00")</td>
                <td>
                    <div style="width:50px;text-align:right;">
                    @group.Month3Total.Change.ToString("#0.00")

                    @if (group.Month3Total.Change > 0)
                    {
                        <img style="float:right;" src="@Url.Content("~/Content/images/up.png")" />
                    }
                    else if(group.Month3Total.Change < 0)
                    {
                        <img style="float:right;" src="@Url.Content("~/Content/images/down.png")" />
                    }
                    else
                    {
                        <img style="float:right;" src="@Url.Content("~/Content/images/nochange.png")" />
                    }
                    </div>
                </td>
                <td>@group.Month3Total.DeviceDays</td>
                <td style="font-weight:bold;color:#aa4644;">@group.Total</td>
                <td style="font-weight:bold;color:#aa4644;">@group.Rate.ToString("#0.00")</td>
            </tr>
            }

            </table>
        </div> 
</section>

<section class="grid_16 box leading"> 
        <h3>CAUTI Rate</h3>
        <div class="inside">
        @Html.DisplayFor(m => m.SCaUtiRateChart)
        </div> 
</section>

<div class="clear"></div>