@model IQI.Intuition.Web.Models.Reporting.Wound.Facility.QuarterlyWoundByWingView

@{
    ViewBag.QuickListAction = "FacilityReportQuickList";
    ViewBag.QuickListItem = "Quarterly Wounds By Wing";
    ViewBag.IsExportable = true;
    ViewBag.ExportLandscape = true;
}

<section class="grid_16 box leading"> 
        <h3>Quarterly Wound Control Report</h3>
        <div class="inside">
        @using (Html.BeginForm(null, null, FormMethod.Get))
        {
            
            <div style="padding:10px;">
                <table>
                    <tr>
                        <td style="padding-right:15px;"><div style="font-size:12px;">Quarter:</div>@Html.DropDownListFor(m => m.Quarter, Model.QuarterOptions) </td>
                        <td><div style="font-size:12px;">Type:</div> @Html.DropDownListFor(m => m.WoundType, Model.WoundTypeOptions, new { style = "font-size:10px;" }) </td>
                        <td style="padding-left:15px;padding-top:10px;">@Html.SmartSubmit("Refresh")</td>
                    </tr>
                </table>
            </div>
        }
        </div> 
        <div style="font-weight:bold;font-size:12px;text-align:center;padding-top:5px;padding-bottom:5px;">Data Last Updated: @ViewContext.LastSynchronized() </div>
</section>



<section class="grid_16 box leading"> 
        <h3>Wounds</h3>
        <div class="inside">
        <br />
         <table class="iqitable">
            <tr>
                <th>Month</td>
                <th colspan="3">@Model.Month1.Name</th>
                <th colspan="3">@Model.Month2.Name</th>
                <th colspan="3">@Model.Month3.Name</th>
                <th colspan="2">Quarter</th>
            </tr>
            <tr>
                <th>Wing</th>
                <th>#</th>
                <th>#/1000 PD</th>
                <th>Change</th>
                <th>#</th>
                <th>#/1000 PD</th>
                <th>Change</th>
                <th>#</th>
                <th>#/1000 PD</th>
                <th>Change</th>
                <th>Total</th>
                <th>Rate</th>
            </tr>
            @foreach (var group in Model.Wounds.Groups)
 {
            <tr>
                <td>@group.Wing</td>
                <td style="font-weight:bold;">@Html.RenderAnnotation(group.Month1Total,group.Month1Total.Count)</td>
                <td>@group.Month1Total.Rate.ToString("#0.00")</td>
                <td>
                    <div style="width:40px;text-align:right;">
                    @group.Month1Total.Change.ToString("#0.00")

                    @if (Math.Round(group.Month1Total.Change, 2) > 0)
                    {
                        <img style="float:right;" src="@Url.Content("~/Content/images/up.png")" />
                    }
                    else if (Math.Round(group.Month1Total.Change, 2) < 0)
                    {
                        <img style="float:right;"  src="@Url.Content("~/Content/images/down.png")" />
                    }
                    else
                    {
                        <img style="float:right;"  src="@Url.Content("~/Content/images/nochange.png")" />
                    }
                    </div>
                </td>
                
                <td style="font-weight:bold;">@Html.RenderAnnotation(group.Month2Total,group.Month2Total.Count)</td>
                <td>@group.Month2Total.Rate.ToString("#0.00")</td>
                <td>
                    <div style="width:40px;text-align:right;">
                    @group.Month2Total.Change.ToString("#0.00")

                    @if (Math.Round(group.Month2Total.Change, 2) > 0)
                    {
                        <img style="float:right;" src="@Url.Content("~/Content/images/up.png")" />
                    }
                    else if (Math.Round(group.Month2Total.Change, 2) < 0)
                    {
                        <img style="float:right;"  src="@Url.Content("~/Content/images/down.png")" />
                    }
                    else
                    {
                        <img style="float:right;"  src="@Url.Content("~/Content/images/nochange.png")" />
                    }
                    </div>
                </td>
                <td style="font-weight:bold;">@Html.RenderAnnotation(group.Month3Total,group.Month3Total.Count)</td>
                <td>@group.Month3Total.Rate.ToString("#0.00")</td>
                <td>
                    <div style="width:40px;text-align:right;">
                    @group.Month3Total.Change.ToString("#0.00")

                    @if (Math.Round(group.Month3Total.Change, 2) > 0)
                    {
                        <img style="float:right;" src="@Url.Content("~/Content/images/up.png")" />
                    }
                    else if (Math.Round(group.Month3Total.Change,2) < 0)
                    {
                        <img style="float:right;"  src="@Url.Content("~/Content/images/down.png")" />
                    }
                    else
                    {
                        <img style="float:right;"  src="@Url.Content("~/Content/images/nochange.png")" />
                    }
                    </div>
                </td>
                                <td style="font-weight:bold;color:#aa4644;">@group.Total</td>
                <td style="font-weight:bold;color:#aa4644;">@group.Rate.ToString("#0.00")</td>
            </tr>
            }
            <tr class="total">
                <td>Total Wounds</td>
                <td>@Model.Wounds.Month1Total.Count</td>
                <td>@Model.Wounds.Month1Total.Rate.ToString("#0.00")</td>
                <td>@Model.Wounds.Month1Total.Change.ToString("#0.0")</td>
                <td>@Model.Wounds.Month2Total.Count</td>
                <td>@Model.Wounds.Month2Total.Rate.ToString("#0.00")</td>
                <td>@Model.Wounds.Month2Total.Change.ToString("#0.00")</td>
                <td>@Model.Wounds.Month3Total.Count</td>
                <td>@Model.Wounds.Month3Total.Rate.ToString("#0.00")</td>
                <td>@Model.Wounds.Month3Total.Change.ToString("#0.00")</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            </table>
        </div> 
</section>

<section class="grid_8 box leading"> 
        <h3>@Model.Month1.Name</h3>
        <div class="inside">
        @Html.DisplayFor(m => m.Month1Chart)
        </div> 
</section>

<section class="grid_8 box leading"> 
        <h3>@Model.Month2.Name</h3>
        <div class="inside">
        @Html.DisplayFor(m => m.Month2Chart)
        </div> 
</section>

<div style="clear:both"></div>

<section class="grid_8 box leading"> 
        <h3>@Model.Month3.Name</h3>
        <div class="inside">
        @Html.DisplayFor(m => m.Month3Chart)
        </div> 
</section>

<section class="grid_8 box leading"> 
        <h3>Quarter</h3>
        <div class="inside">
        @Html.DisplayFor(m => m.TotalChart)
        </div> 
</section>

<div class="clear"></div>