@model IQI.Intuition.Web.Models.Reporting.Wound.Facility.LineListingWoundView
           
@{
    ViewBag.Layout_ContentTitle = "Wound Line Listing";
    ViewBag.QuickListAction = "FacilityReportQuickList";
    ViewBag.QuickListItem = "Wound Line Listing";
    ViewBag.IsExportable = true;
    ViewBag.LimitedExport = true;
    ViewBag.ExportLandscape = true;
}

@using (Html.BeginForm(null, null, FormMethod.Get))
{
    <section class="grid_16 box leading"> 
            <h3>Wound Line Listing</h3>
            <div class="inside">

                <div style="padding:10px;">
                    <table width="100%">
                        <tr>
                            <td><div style="font-size:12px;">Wing:</div> @Html.DropDownListFor(m => m.Wing, Model.WingOptions, new { style = "font-size:10px;" }) </td>
                            <td><div style="font-size:12px;">Floor:</div> @Html.DropDownListFor(m => m.Floor, Model.FloorOptions, new { style = "font-size:10px;" }) </td>
                            <td><div style="font-size:12px;">Current Stage:</div> @Html.DropDownListFor(m => m.CurrentStage, Model.StageOptions, new { style = "font-size:10px;" }) </td>
                            <td><div style="font-size:12px;">Classification:</div> @Html.DropDownListFor(m => m.Classification, Model.ClassificationOptions, new { style = "font-size:10px;" }) </td>
                            <td><div style="font-size:12px;">Type:</div> @Html.DropDownListFor(m => m.Type, Model.TypeOptions, new { style = "font-size:10px;" }) </td>
                        </tr>
                        </table>
                        <hr />
                        <table>
                        <tr>
                            <td style="padding-right:15px;"><div style="font-size:12px;">Active From:</div> @Html.TextBoxFor(m => m.StartDate, new { type = "datepicker" }) </td>
                            <td style="padding-right:15px;"><div style="font-size:12px;">Active To:</div> @Html.TextBoxFor(m => m.EndDate, new { type = "datepicker" })   </td>
                            <td style="padding-right:15px;"><div style="font-size:12px;">Mode</div> @Html.DropDownListFor(m => m.Mode, Model.ModeOptions, new { style = "font-size:10px;" }) </td>
                            <td style="padding-left:25px;"><div style="font-size:12px;width:100px;">Recent Progress</div> @Html.DropDownListFor(m => m.MostRecentProgress, Model.MostRecentProgressOptions, new { style = "font-size:10px;" }) </td>
                            <td style="padding-left:300px;">@Html.SmartSubmit("Refresh")</td>
                        </tr>
                    </table>
                </div>
            </div> 
    </section>
    

}

<section class="grid_16 box leading"> 
        <h3>Wound List</h3>
        <div class="inside">
        <br />
            <table class="iqitable" style="margin-bottom:0px;">
                <tr>
                    <th style="width:150px;">Date</th>
                    <th style="width:200px;">Patient</th>
                    <th style="width:200px;">Type/Stage/Classification</th>
                    <th style="width:150px;">Site</th>
                </tr>
            </table>
            @foreach (var row in Model.Rows)
            {
                <table class="iqitable" style="margin-bottom:0px;">
                    @{Html.RenderPartial("~/Views/Shared/DisplayTemplates/LineListingWoundRow.cshtml", row, new ViewDataDictionary { { "showLink", "true" } });}
                </table>
            }
        
            <br />
        </div> 
</section>

<div style="clear:both;">&nbsp;</div>

@section Scripts
{

    <script type="text/javascript">

        function toggleResolved() {
            if ($('#Mode').val() != '@IQI.Intuition.Web.Models.Reporting.Wound.Facility.LineListingWoundView.MODE_ACTIVE_ONLY') {
                $("#StartDate").removeAttr("disabled");
                $("#EndDate").removeAttr("disabled");
            }
            else {
                $('#StartDate').val('');
                $('#EndDate').val('');
                $("#StartDate").attr("disabled", "disabled");
                $("#EndDate").attr("disabled", "disabled"); 
            }
        }

        $(function () {

            toggleResolved();

            $('#Mode').change(function () {
                toggleResolved();
            });

            updateFilterButtons();

        });



    </script>
}